Planning_plots_meta_COM_Dyn/cable_direction_13_0_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_0_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_1_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_1_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_2_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_2_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_3_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_3_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_4_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_4_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_5_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_5_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_6_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_6_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_7_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_7_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_8_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_8_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_9_0_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_13_9_1_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_0_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_1_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_2_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_3_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_4_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_5_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_6_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_7_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_8_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_direction_18_9_2_3_n.npy
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/cable_MPC_tensions_4_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/euler_4_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/height_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_0_3_9.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_1_3_9.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_u_2_3_9.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_0_3_9.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_1_3_9.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_0.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_1.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_2.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_3.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_4.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_5.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_6.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_7.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_8.npy
Planning_plots_meta_COM_Dyn/p_weight_ratio_x_2_3_9.npy
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor1_traj_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor2_traj_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor3_traj_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/quadrotor4_traj_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_0_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_0_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_1_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_1_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_2_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_2_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_3_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_3_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_4_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_4_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_5_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_5_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_6_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_6_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_7_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_7_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_8_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_8_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_9_0_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_13_9_1_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_0_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_1_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_2_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_3_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_4_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_5_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_6_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_7_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_8_2_3_n.png
Planning_plots_meta_COM_Dyn/system_traj_quadrotor_num4_ddp_admm_18_9_2_3_n.png
Planning_plots_meta_COM_Dyn/tension_magnitude_13_0_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_0_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_1_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_1_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_2_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_2_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_3_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_3_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_4_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_4_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_5_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_5_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_6_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_6_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_7_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_7_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_8_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_8_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_9_0_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_13_9_1_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_0_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_1_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_2_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_3_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_4_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_5_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_6_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_7_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_8_2_3_n.npy
Planning_plots_meta_COM_Dyn/tension_magnitude_18_9_2_3_n.npy
Planning_plots_meta_COM_Dyn/weight_0.npy
Planning_plots_meta_COM_Dyn/weight_1.npy
Planning_plots_meta_COM_Dyn/weight_2.npy
Planning_plots_meta_COM_Dyn/weight_3.npy
Planning_plots_meta_COM_Dyn/weight_4.npy
Planning_plots_meta_COM_Dyn/weight_5.npy
Planning_plots_meta_COM_Dyn/weight_6.npy
Planning_plots_meta_COM_Dyn/weight_7.npy
Planning_plots_meta_COM_Dyn/weight_8.npy
Planning_plots_meta_COM_Dyn/weight_9.npy
trained_data_meta_COM_Dyn/initial_NN_waypoint.pt
trained_data_meta_COM_Dyn/rp_task.npy
trained_data_meta_COM_Dyn/Tunable_para0.npy
trained_data_meta_COM_Dyn/xl_init_3.npy
trained_data_meta_COM_Dyn/xl_init_4.npy
trained_data_meta_COM_Dyn/xl_init_5.npy
trained_data_multiagent_meta_COM_Dyn/initial_NN_i.pt
trained_data_multiagent_meta_COM_Dyn/initial_NN_l.pt
trained_data_multiagent_meta_COM_Dyn/Tunable_para0.npy
